@import "../../../styles/sizes";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";

.projects__title {
    text-align: end;
    margin-right: 30px;
    padding-bottom: 5px;
}
