@import "../../../styles/sizes";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";

.about {

    &__title {
    text-align: end;
    margin-right: 30px;
    padding-bottom: 5px;
    }

    &__cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__subtitle {
        border-bottom: black solid 1px;
    }
}