@import "../../../../styles/sizes";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/responsive.scss";

.card {
    width: 70%;
    height: auto;
    padding: 30px 0;
}
 a {
     text-decoration: none;
 }